<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Dashboard</title>
    <!-- <link rel="stylesheet" href="../css/style.css"> -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <header>
        <h1> weather </h1>
    </header>
    <main>
        <div class="dashboard">
            <div id="textContainer" style="padding: 20px; border: 1px solid #ccc; margin-top: 20px;"></div>
            <input type="text" id="responseBox" readonly/>

            <div class="metrics">
                <div class="metric" id="temperature">
                    <p>Temperature: --</p>
                </div>
                <div class="metric" id="city">
                    <p> City: --</p>
                </div>
                <div class="metric" id="humidity">
                    <p>Humidity: --</p>
                </div>
                <!--
                <div class="metric" id="wind">
                    <p>Wind Speed: --</p>
                </div> -->
                <script>         var storedData = null;
                </script>
            </div>
        </div>
        <!-- Add an update weather button -->
         <button id="updateButton"> Update Weather </button>
         <button id="updateRecommendationButton"> Get Recommendation </button>
         <button id="weatherDataInfo"> Weather data info </button>
         <button id="UpdateTextBox"> Update Text box </button>
    </main>
    <!-- <script src="js/script.js"></script> This file path no longer works. New one below-->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>