<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Dashboard</title>
    <!-- <link rel="stylesheet" href="../css/style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <header>
        <h1>Weather Dashboard</h1>
    </header>
    <main>
        <div class="dashboard">
            <h2>Weather</h2>
            <div class="graph">
                <canvas id="myChart"></canvas>
                    <!-- add the graph for analytics-->
            </div>
            <div id="textContainer" style="padding: 20px; border: 1px solid #ccc; margin-top: 20px;"></div>
            <script>
            fetch('http://127.0.0.1:5000/recommendation')
            .then(response => response.json())  // Parse the response body as JSON
            .then(data => {
                // Get the text from the API response
                alert("Do?")
                const text = data;
                console.log("This is the data response text" ,data.response)
                // Get the div container by ID and populate it with the text
                const textContainer = document.getElementById('textContainer');
                textContainer.innerText = text;  // Insert the text into the div
            })
            .catch(error => {
                console.error('Error fetching the text:', error);
            });
            </script>
            <div class="metrics">
                <div class="metric" id="temperature">
                    <p>Temperature: --</p>
                </div>
                <div class="metric" id="city">
                    <p> City: --</p>
                </div>
                <!-- <div class="metric" id="humidity">
                    <p>Humidity: --</p>
                </div>
                <div class="metric" id="wind">
                    <p>Wind Speed: --</p>
                </div> -->
            </div>
        </div>
        <!-- Add an update weather button -->
         <button id="updateButton"> Update Weather </button>
         <button id="updateRecommendationButton"> Get Recommendation </button>
    </main>
    <!-- <script src="js/script.js"></script> This file path no longer works. New one below-->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>