/* General Body Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
	background-color: snow; 
}

/* Header Styles */
header {
    background-color: snow;  /* Calming Gray */
    color: grey;
    text-align: center;
    padding: 20px;
}

h1 {
    background-image: url(https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExYWRuamJzcnY5N3ozeTl4bzI2amMwa2Nmd2h6ODdvMnJxbnY0emsyYyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/KDTYmnAVMZ7qw/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 100px;
    margin: 10px 0;
  }

h2 {
    margin: 0;
    text-align: center;
    padding-top: 100px;
}

button {
    padding: auto;
    padding-left: 5%;
}

.buttons {
    display: flex;
    justify-content: center;
}


/* Dashboard Styles */
.dashboard {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px; /* Padding inside the parent div */
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    box-sizing: border-box; /* Ensure padding doesn't affect width */
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5); /* Shadow properties */

}



textarea {
    width: 100%;
    min-height: 50px;
    max-width: 100%;
    padding: 10px;
    font-size: 16px;
    color: black;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none; /* Disable manual resizing */

  }

.dashboard h2 {
    font-size: 32px;
    color: #333;
}

.metrics {
    display: flex;
    gap: 20px;
}

.metric {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    min-width: 120px;
}

.metric p {
    margin: 0;
    font-size: 18px;
    color: #333;
}


/* Update Button Styles */
button {
    display: inline;
    background-color: #7c73e6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #45a049;
}